.java-container{
    padding-top: 120px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 80px;
}

.analogy-title{
    padding-top: 80px;
}

.java-content{
    margin-top: 40px;
}


.control-title{
    padding-top: 100px;
}

.dom-title{
    padding-top: 100px;
}

.arrays-title{
    padding-top: 100px;
}

.functions-title{
    padding-top: 100px;
}