/*Learning plan stylesheet */

.learning-container{
    padding-top: 120px;
    padding-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.learning-title{
    padding-top: 50px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Jomhuria', cursive;
    font-size: 50px;
}

.learning-subheading{
    text-align: left;
    font-family: 'Jomhuria', cursive;
    font-size: 45px;
    margin-top: 70px;
}

.learning-content-container{
    text-align: left;
    font-size: 17px;
    max-width: 75%;
    padding-left: 20px;
}

.learning-content{
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 30px;
    max-width: 80%;
    
}

.update-section{
    list-style-type: none;
}

.update-questions{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.update-answers{
    text-align: left;
    padding-bottom: 20px;
    max-width: 80%;
}