/* New font for main title */
@font-face{
    font-family: 'Jomhuria', cursive;
}


.title-box{
    position:absolute;
}


.main-title{
    font-family:Jomhuria;
    font-size: 78px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    padding-left: 20px;
    
}




.welcome-title{
    padding-top: 180px;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

/* Nav bar styling*/

.top-nav{
    background-color:rgb(204, 144, 33);
    overflow: hidden;
    margin-top: 85px;
    position: relative;
    float:left;
    width: 100%;
    height: 30px;
    text-align: center;
}

.top-nav a {
    text-align: left;
    color: black;
    padding: 14px 20px;
    font-size: 35px; 
    font-family: "Jomhuria";
    text-decoration: none;
}

.top-nav a:hover{
    background-color:rgb(214, 128, 15);
    color:darkred;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* About me */
  .about-me-container{
      display: flex;
      padding-top: 5px;
  }

  .about-me-image{
      flex-basis: 10%;
      margin-left: 20px;
  }

  .about-me-text{
      padding-left: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      max-width: 70%;
    
    
  }

  .jv-pic{
    height: auto;
    width: 150px; 
    border-radius: 50%;
    float: left;
    
}

/* Background */

body{
    background: rgb(20, 163, 230);
    background-repeat: space;
    min-height: 100vh;
    
}

p,li{
    word-spacing: 5px;
    line-height: 2;
}

/* Blog page */

.blog-container{
    padding-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 80px;
}

.blog-post{
    font-size: 40px;
    font-family:'Jomhuria', cursive;;
    padding-bottom: 30px;
    text-decoration: none;
    color: black;
   
    


