/* New font for main title */
@font-face{
    font-family: 'Jomhuria', cursive;
}


.title-box{
    position:absolute;
}


.main-title{
    font-family:Jomhuria;
    font-size: 70px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    
}




.welcome-title{
    padding-top: 180px;
    margin-left: 12px;
}

/* Nav bar styling*/

.top-nav{
    background-color:lightsteelblue;
    overflow: hidden;
    margin-top: 85px;
    position: relative;
    float:left;
    width: 100%;
   
}

.top-nav a {
    text-align: left;
    color: black;
    padding: 14px 16px;
    font-size: 17px; 
    text-decoration: none;
}

.top-nav a:hover{
    background-color:cornflowerblue;
    color:darkred;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* About me */
  .about-me-container{
      display: flex;
      padding-top: 5px;
  }

  .about-me-image{
      flex-basis: 10%;
  }

  .about-me-text{
      padding-left: 15px;
    
    
  }

  .jv-pic{
    height: auto;
    width: 130px; 
    border-radius: 50%;
    float: left;
    
}