/* New font for main title */
@font-face{
    font-family: 'Jomhuria', cursive;
}


.title-box{
    position:absolute;
}


.main-title{
    font-family:Jomhuria;
    font-size: 78px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    
}




.welcome-title{
    padding-top: 180px;
    margin-left: 12px;
}

/* Nav bar styling*/

.top-nav{
    background-color:rgb(204, 144, 33);
    overflow: hidden;
    margin-top: 85px;
    position: relative;
    float:left;
    width: 100%;
    height: 30px;
    text-align: center;
}

.top-nav a {
    text-align: left;
    color: black;
    padding: 14px 20px;
    font-size: 35px; 
    font-family: "Jomhuria";
    text-decoration: none;
}

.top-nav a:hover{
    background-color:rgb(86, 233, 160);
    color:darkred;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* About me */
  .about-me-container{
      display: flex;
      padding-top: 5px;
  }

  .about-me-image{
      flex-basis: 10%;
  }

  .about-me-text{
      padding-left: 15px;
    
    
  }

  .jv-pic{
    height: auto;
    width: 130px; 
    border-radius: 50%;
    float: left;
    
}

/* Background */

body{
    background: rgb(2,0,36);
    background: linear-gradient(320deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.48859666149068326) 34%, rgba(0,212,255,1) 100%);
    background-repeat: space;
    min-height: 100vh;
}

