.reflections-container{
    padding-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 80px;
}

.reflections-title{
    padding-top: 65px;
    text-align: center;
    font-family: 'Jomhuria', cursive;;
    font-size: 50px;
}

.reflections-content-title{
    padding-top: 100px;
    text-align: center;
    font-family: 'Jomhuria', cursive;;
    font-size: 50px;
}

.reflections-question{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25%;
    max-width: 50%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style-type: none;
  }

.reflections-content{
    text-align: left;
    padding-bottom: 20px;
    padding-left: 25%;
    max-width: 50%;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }